anyjson==0.3.3
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bokeh==0.12.1
configparser==3.3.0.post2
cssselect==0.9.1
ipython==4.0.0
ipython-genutils==0.1.0
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
lxml==3.6.0
matplotlib==1.5.1
nbconvert==4.2.0
numpy==1.10.4
openpyxl==2.3.5
oauthlib==1.0.3
pandas==0.18.0
pandas-datareader==0.2.1
pdfminer==20110515
pdftables==0.0.4
PyYAML==3.11
scipy==0.17.0
tabulate==0.7.3
tweepy==3.5.0
xlrd==0.9.4
